.el-icon-air-transpor{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-air-transport.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-dashboard{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-dashboard.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-sea-shipping{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-sea-shipping.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-finance{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-finance.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-swcms{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-swcms.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-charge{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-charge.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-crm{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-crm.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-company-source{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-company-source.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-data-base{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-data-base.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-permission{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-permission.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-plan{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-plan.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-duty-manager{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-duty-manager.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-duty{
  height: 14px;
  width: 14px;
  background: url(../icons/png/menu-duty.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-railway {
	height: 14px;
	width: 14px;
	background: url(../icons/png/menu-railway.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-take {
	height: 14px;
	width: 14px;
	background: url(../icons/png/menu-take.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-put {
	height: 14px;
	width: 14px;
	background: url(../icons/png/menu-put.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-put-apply {
	height: 14px;
	width: 14px;
	background: url(../icons/png/menu-put-apply.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-audit {
	height: 14px;
	width: 14px;
	background: url(../icons/png/menu-audit.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-work-exception {
  height: 14px;
	width: 14px;
	background: url(../icons/png/menu-work-exception.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-warehouse-index {
  height: 14px;
	width: 14px;
	background: url(../icons/png/menu-warehouse-index.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-online-rob-tank {
  height: 14px;
	width: 14px;
	background: url(../icons/png/menu-online-rob-tank.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-predict-manage {
  height: 14px;
	width: 14px;
	background: url(../icons/png/menu-predict-manage.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-audit-index {
  height: 14px;
	width: 14px;
	background: url(../icons/png/menu-audit-index.png) no-repeat center;
	background-size: 100% 100%;
}